.DS_Store
.ipynb_checkpoints/*.ipynb
*.cder
*.got
*.lip
*.html
*.docx
*.pdf
*.sh~
/dump_folder/*
mht/mht/legacy_mht/gui/Graphics/*
mht/mht/legacy_mht/gui/Graphics
mht/mht/legacy_mht/gui/__pycache__/*.pyc
mht/gui/__pycache__/*.pyc
*.pyc
mht/legacy_mht/scripts/applescripts/*
*scpt
**/.ipynb_checkpoints/*-checkpoint.ipynb
**/learning_traces.13m.csv
mht/legacy_mht/scripts/ML_duolingo/*
mht/legacy_mht/gui/icons/*.png
*.bin
mht/legacy_mht/**/data/processed/he_vectors/*
mht/legacy_mht/**/data/processed/he_vectors/** */
mht/legacy_mht/**/data/processed/EGGs/*.eggs
.vscode/launch.json
mht/mht/legacy_mht/gui/Graphics/Battlebacks/battlebgAgatha.png
