.DS_Store
.ipynb_checkpoints/*.ipynb
*.cder
*.got
*.lip
*.html
*.docx
*.pdf
*.sh~
/dump_folder/*
gui/Graphics/*
gui/__pycache__/*.pyc
*.pyc
scripts/applescripts/*
*scpt
**/.ipynb_checkpoints/*-checkpoint.ipynb
**/learning_traces.13m.csv
scripts/ML_duolingo/*
